$font       : 'Open Sans', Arial, sans-serif;

$color1     : #D5DCE1;
$color2     : #F3F9FF;
$color3     : #EBF7E8;
$color4     : #FFCA82;
$color5     : #FFF2A3;
$color6     : #272829;


$bgcolor        : $color1;
$txtcol         : $color6;
$linkcol        : $color4;
$sectbg1        : $color2;

$statbg         : $color2;
$statbordercol  : $color6;